  .container{
              position: relative;
			  text-align: center;		   
 } 
 
  .centered {
                position: absolute;
				top: 100px;
				left: 16px;
				color: #a26bfe;
				
        		 
}
 
}
 


.picture{
	position: absolute;
	top: 500px;
	left: 40px;
	height: 120px;
	width: 120px;
	padding: 50px;
	background-color: black;
	
}

.bsengineering{
	                color:  brown;
					position: absolute;
					top: 160px;
					left: 500px;
					text-decoration: underline;
					font-family: cursive;
					text-align: center;
					   
					 
}
 .onabort{
	            position: absolute;
				top: 100px;
				 right: 16px;
}
 
.name{
	padding: 10px;
	position: absolute;
	top: 150px;
	left: 30px;
	 color: purple;       
}
   .baari{
	 position: absolute;
	 top: 700px;
	 left: 1000px;
	 color: white;	 
 }
 .family{
	 padding: 10px;
	 background-color: wheat;
	 margin: 3px;
	 opacity: .6;
	 color: red;
	 width: 600px;	 
 }
 .map{
         padding: 0;
		 background-color: black;
		 opacity: .6;
		 color: cyan;
		 width: 170px; 
 }
 .family{
	 position: absolute;
	  top: 70;
	  left: 500;
 }
.banana{
	position: absolute;
	top: 150;
	left: 150;
	color:  white;
}
.khaby{
	position: absolute;
	top: 130px;
	left: 200px;
}
.bro{
	position: absolute:
	top: 150px;
	left: 100px;
	padding: 3px;
	background-color:  cyan;
	opacity: .6;
	width: 150px;
	height: 35px;
	text-decoration: none;
	color: blue;
}
.xyz{
	padding: 3px;
	background-color: black;
	color: blue;
	border: 2px;
	top: 50px;
	left: 100px;
	opacity: .8;
	text-decoration: none;
}
.founder{
	position: absolute;
	top: 400px;
    left: 100px;
	
	
} 
.zxc{
	padding: 4px;
	background-color: cyan;
	border: 4px;
	color: black;
	opacity: .6;
	text-align: center;
	width: 400px;
	height: 50px;
}
.body{
	 
	background-color: wheat;
	border-color: white;
	height: 200px;
}

 


 
.lkj{
	padding: 50px;
	background-color:  black;
	color:  cyan;
	width: 1300px;
	text-align: center;
	left: 60px;
	height: 175px;
	text-decoration:  none;
	position: absolute;
	top: 133px;
}
.mnc{
	padding: 5px;
	background-color: black;
	opacity: .6;
	color: purple;
	position: absolute;
	top: 1000px;
	left: 50px;
	width: 1400px;
	
	 
	
}
 

.fgh{
	padding: 10px;
	 text-align: center;
	color: purple;
	background-color: black;
	opacity: .8;
}
.okl{
	padding: 5px;
	background-color: cyan;
	color:  black;
	width: 500px;
	text-align: center;
}
.ghj{
	 
	color: blue;
	position: absolute;
	top: 15px;
	left: 15px;
	 
}
.info{
	position: absolute;
	top: 425px;
	left: 200px;
	 
	
}
.uyt{
	padding: 20px;
	color: black;
	background-color:  green;
	opacity: .6;
}
.qwe{
	padding: 5px;
	background-color: black;
	color: wheat;
	opacity: .7;
	width: 700px;
	color: cyan;
	height: 45px;
} 
.opl{
	padding: 5px;
	background-color: black;
	color: wheat;
	opacity: .7;
	width: 500px;
}
.tyu{
	padding; 5px;
	background-color: black;
	opacity: .6;
	width: 250;
	height: 60px;
	color: blue;
}
.ert{
	 
	position: absolute;
	top: 950px;
	left; 50px;
	padding: 60px;
	background-color:  silver;
	width: 1380px;
	height: 200px;
	text-align:  left; 
}
.udhfu{
	padding: 30px;
	background-color: silver;
	opacity: .6;
	width: 1500px;
	height: 50px;
	
	
}
.manager{
	position: absolute;
	top: 1010;
	left: 70;
	color: black;
}
.der{
	 position: absolute;
 	 top: 1000px;
   	 left: 300px;
	 padding: 50px;
	 background-color: black;
	 color: white;
     width: 1100px;
     height: 130px;
	 text-align: center;
	 font-family: cursive;
}
.skdjjv{
	padding: 80px;
	background-color: silver;
	height: 150px;
	width: 1350px;
	text-align: center;
}
.zaq{
	position: absolute;
	top: 5px;
	left: 500px;
	padding: 30px;
	background-color: black;
	color:  cyan;
	font-family: cursive;
}
.whattodo{
	padding: 200px;
	background-color:  cyan;
	position: absolute;
	top: 510px;
	width: 1100px;
	 
	 
}
.njh{
	position: absolute;
	top: 140;
	left: 1100px;
	text-decoration: underline;
}
.air{
	padding: 60px;
	height: 130px;   
	position: absolute;
	top: 1100;
	left: 150px;
	background-color: black;
	color: white;
	width: 1170;
	opacity: .6;
}
 
.bbb{
	position: absolute;
	top: 1250;
	left: 330px;
	padding: 10px;
	background-color: white;
	color: black;
	opacity: .6;
	width: 1000;
	text-align: center;
}
.yyy{
	position: absolute;
	top: 700px;
	left: 800px;
}
.ojdv{
	 padding: 60px;
	height: 270px;
	background-color:   cyan;
}
.dsjvojdf{
	 color: cyan; 
 }
.shortcut{
	 position: absolute;
	 top: 1670px;
	 left: 16px;
	 color: white;
	 padding: 65px;
	 background-color: black;
	 margin: 2px;
	 width: 1350px;
	 height: 150px;
 }
.satisfied{
	 padding: 20px;
	 background-color: black;
	 opacity: .7;
	 position: absolute;
	 top: 100%;
	 width: 100%;
	 height: 25%;
     color: white;
     text-align: center;  
 }
.designer{
	position: absolute;
	top: 1695;
	left: 20px;
	border-radius: 20px;
	background-color:  grey;
	border-color: black;
	color: white;
}
.loginbackground{
	margin: 20px;
	padding: 150px;
	opacity: .7;
	background-color: black;
	position: absolute;
	top: 60px;
	left: 600px;
	height: 200px;
	width: 80px;
	color: purple;
	font-family: cursive;
}
.logo23{
	position: absolute;
	top: 50px;
	left:  735px;
	border: 3px;
	border-radius: 50%;
}
.header{
	padding: 30px;
	background-color: purple;
	opacity: .7;
	color: black;
	width: 700px;
	height: 20px;
	
}
.1st{
	position: absolute;
	top: 200px;
	left: 200px;
	
}
.align{
	position: absolute;
	top: 100px;
	left: 80px;
	color: white;
}
.align2{
	position: absolute;
	top: 150px;
	left: 140px;
}
.align3{
	position: absolute;
	top: 200px;
	left: 80px;
	color:   white;
}
.align4{
	position: absolute;
	top: 250px;
	left: 140px;
}
.align6{
	position: absolute;
	top: 350px;
	left: 140px;
}
.align7{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #111;
	color: #ff0368;
    cursor: pointer;
    position:  absolute;
	top: 350px;
    z-index: 0;
    border-radius: 20px;
}

.align7:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.align7:active {
    color: #000
}

.align7:active:after {
    background: transparent;
}

.align7:hover:before {
    opacity: 1;
}

.align7:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.button{
	text-decoration: none;
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button:active {
    color: #000
}

.button:active:after {
    background: transparent;
}

.button:hover:before {
    opacity: 1;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
	 
}

 
 
 
.acccreate{
	position: absolute;
	top: 670px;
	left: 600px;
}
 .pamplet{
	 margin: 0;
	 padding: 20px;
	 background-color:   wheat;
	  
     position: absolute;
	 top: 870;
	 left: 220px;
	 height: 100px;
	 color: black;
 }
 .pamplet2{
	 margin: 0;
	 padding: 20px;
	 background-color:   wheat;
	  
     position: absolute;
	 top:  870;
	 left: 700px;
	 text-decoration: none;
	 height: 100px;
	 color: black;
	  
 }
  .pamplet3{
	 margin: 0;
	 padding: 20px;
	 background-color:   wheat;
     position: absolute;
	 top: 870;
	 left: 1200px;
	 text-decoration: none;
	 height: 100px;
	 color: black;
	  
 }
.vedio{
	position: absolute;
	top: 670;
	left: 30%;
	height: 300px;
	width: 500px;
}
.tellingtosigniniftheyhaveanaccount{
	position: absolute;
	top: 600px;
	left: 120;
	padding: 10px;
	width: 80%;
	background-color: black;
	opacity: .6;
	color: white;
	text-align: center;
	
}
.btndesign1{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.btndesign1:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.btndesign1:active {
    color: #000
}

.btndesign1:active:after {
    background: transparent;
}

.btndesign1:hover:before {
    opacity: 1;
}

.btndesign1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.service-btn{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #ffffff;
	color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.service-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.service-btn:active {
    color: #000
}

.service-btn:active:after {
    background: transparent;
}

.service-btn:hover:before {
    opacity: 1;
}

.service-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.home-btn1{
  border-color:   #3498db;
  border-radius: 20px;
  color:  #be2bcf;
  background-color:  #a26bfe;
  height: 50;
  width: 80;
  box-shadow: 0 0 40px 40px #fffc02 inset, 0 0 0 0   #fffc02;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.home-btn1:hover {
  box-shadow: 0 0 10px 0  #ff3b6c inset, 0 0 10px 4px  #ff3b6c;
}

.home-btn2{
  border-color: #3498db;
  border-radius: 20px;
  color:  #be2bcf;
  background-color: #a26bfe;
  height: 50;
  width: 80;
  box-shadow: 0 0 40px 40px  #fffc02 inset, 0 0 0 0  #fffc02;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.home-btn2:hover {
  box-shadow: 0 0 10px 0  #ff3b6c inset, 0 0 10px 4px  #ff3b6c;
}

.home-btn3{
  border-color: #3498db;
  border-radius: 20px;
  color: #be2bcf;
  background-color: #a26bfe;
  height: 50;
  width: 80;
  box-shadow: 0 0 40px 40px  #fffc02 inset, 0 0 0 0  #fffc02;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.home-btn3:hover {
  box-shadow: 0 0 10px 0  #ff3b6c inset, 0 0 10px 4px  #ff3b6c;
}

.home-btn4{
	position: absolute;
	top: 105px;
	right: 25%;
  border-color: #3498db;
  color: #be2bcf;
  border-radius: 20px;
  background-color: #a26bfe;
  height: 50;
  width: 80;
  box-shadow: 0 0 40px 40px   #00ffff inset, 0 0 0 0  #00ffff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.home-btn4:hover {
  box-shadow: 0 0 10px 0  #ff3b6c inset, 0 0 10px 4px  #ff3b6c;
}

.home-btn5{
	position: absolute;
	top: 105px;
	right: 200px;
  border-color: #3498db;
  border-radius: 20px;
  color: #be2bcf;
  background-color: #a26bfe;
  height: 50;
  width: 80;
  box-shadow: 0 0 40px 40px   #00ffff inset, 0 0 0 0   #00ffff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.home-btn5:hover {
  box-shadow: 0 0 10px 0  #ff3b6c inset, 0 0 10px 4px  #ff3b6c;
}

.home-btn6{
	position: absolute;
	top: 105px;
	right: 2.5%;
  border-color: #3498db;
  border-radius: 20px;
  color: #be2bcf;
  background-color: #a26bfe;
  height: 50;
  width: 83;
  font-size: 20;
  box-shadow: 0 0 40px 40px   #00ffff inset, 0 0 0 0   #00ffff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.home-btn6:hover {
  box-shadow: 0 0 10px 0  #ff3b6c inset, 0 0 10px 4px  #ff3b6c;
}

 

.home-btn7{
  border-color:  #cc00ff;
  border-radius: 20px;
  background-color:  wheat;
  position: absolute;
  top: 1030;
  right: 60%;
  width: 180px;
    height: 50px;
  
  font-size: 20;
  box-shadow: 0 0 40px 40px #cc00ff inset, 0 0 0 0  #cc00ff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.home-btn7:hover{
	 box-shadow: 0 0 10px 0  #ff3b6c inset, 0 0 10px 4px  #ff3b6c;
}

.con-btn1{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background:  grey;
	color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.con-btn2{
	width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background:  grey;
	color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
	
}
.pro-btn1{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #ffffff;
	color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.pro-btn1:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.pro-btn1:active {
    color: #000
}

.pro-btn1:active:after {
    background: transparent;
}

.pro-btn1:hover:before {
    opacity: 1;
}

.pro-btn1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
 
.tyu,
.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #97e084;
  width: 200;
  height: 40;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}

.hom-clr{
	background: #2c3e50;
	background: -webkit-linear-gradient(to
	left, #2c3e50 , #fd746c);
	background:  linear-gradient(to
	left, #2c3e50 , #fd746c);
	
}

 
.ser-clr{
	background: #2c3e50;
	background: -webkit-linear-gradient(to
	left, #2c3e50 , #fd746c);
	background:  linear-gradient(to
	left, #2c3e50 , #fd746c);
	
}
.hlp-clr,
.abt-clr{
	background: #2c3e50;
	background: -webkit-linear-gradient(to
	left, #2c3e50 , #fd746c);
	background:  linear-gradient(to
	left, #2c3e50 , #fd746c);
	
}
.pro-clr,
.con-clr{
	background: #2c3e50;
	background: -webkit-linear-gradient(to
	left, #2c3e50 , #fd746c);
	background:  linear-gradient(to
	left, #2c3e50 , #fd746c);
	
}
.mnb {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  text-decoration: none;
  width: 200;
  height: 40;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.mnb:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}

.pic-hom{
	border-radius: 50%;
}
 

 
 .hom-btn-gui9{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position:  absolute;
	top: 1700px;
	left: 1200px;
    z-index: 0;
    border-radius: 20px;
}

.hom-btn-gui9:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.hom-btn-gui9:active {
    color: #000
}

.hom-btn-gui9:active:after {
    background: transparent;
}

.hom-btn-gui9:hover:before {
    opacity: 1;
}

.hom-btn-gui9:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.up-btn{
	padding: 10px;
	color: white;
	text-align: center;
	height: 60px;
	width: 500px;
	background-color: black;
	opacity: .6;
	position: absolute;
	top: 500;
	left: 5%;
}

.up-btn2{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position:  absolute;
	top: 25%;
	left: 13%;
    z-index: 0;
    border-radius: 20px;
}

.up-btn2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.up-btn2:active {
    color: #000
}

.up-btn2:active:after {
    background: transparent;
}

.up-btn2:hover:before {
    opacity: 1;
}

.up-btn2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.login-btn-gui4{
    width: 180px;
    height: 50px;
	border: none;
    outline: none;
    background-color:  black;
    cursor: pointer;
    position: absolute;
	top: 100;
	left: 200;
    z-index: 0;
    border-radius: 20px;
}

.login-btn-gui4:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.login-btn-gui4:active {
    color: #000
}

.login-btn-gui4:active:after {
    background: transparent;
}

.login-btn-gui4:hover:before {
    opacity: 1;
}

.login-btn-gui4:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.ser-btn-gui5{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #ffffff;
	color: white;
    cursor: pointer;
    position: absolute;
	top: 3%;
	right: 5%;
    z-index: 0;
    border-radius: 20px;
}

.ser-btn-gui5:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.ser-btn-gui5:active {
    color: #000
}

.ser-btn-gui5:active:after {
    background: transparent;
}

.ser-btn-gui5:hover:before {
    opacity: 1;
}

.ser-btn-gui5:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.abt-btn-gui8{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #ffffff;
	color: white;
    cursor: pointer;
    position: absolute;
	top: 1%;
	right: 5%;
    z-index: 0;
    border-radius: 20px;
}

.abt-btn-gui8:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.abt-btn-gui8:active {
    color: #000
}

.abt-btn-gui8:active:after {
    background: transparent;
}

.abt-btn-gui8:hover:before {
    opacity: 1;
}

.abt-btn-gui8:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.con-btn-gui2{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #ffffff;
	color: white;
    cursor: pointer;
    position: absolute;
	top: 1%;
	right: 5%;
    z-index: 0;
    border-radius: 20px;
}

.con-btn-gui2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.con-btn-gui2:active {
    color: #000
}

.con-btn-gui2:active:after {
    background: transparent;
}

.con-btn-gui2:hover:before {
    opacity: 1;
}

.con-btn-gui2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.pro-btn-gui6{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #ffffff;
	color: white;
    cursor: pointer;
    position: absolute;
	top: 1%;
	right: 5%;
    z-index: 0;
    border-radius: 20px;
}

.pro-btn-gui6:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.pro-btn-gui6:active {
    color: #000
}

.pro-btn-gui6:active:after {
    background: transparent;
}

.pro-btn-gui6:hover:before {
    opacity: 1;
}

.pro-btn-gui6:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.hlp-btn-gui7{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    background: #ffffff;
	color: white;
    cursor: pointer;
    position: absolute;
	top: 0.5%;
	right: 5%;
    z-index: 0;
    border-radius: 20px;
}

.hlp-btn-gui7:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.hlp-btn-gui7:active {
    color: #000
}

.hlp-btn-gui7:active:after {
    background: transparent;
}

.hlp-btn-gui7:hover:before {
    opacity: 1;
}

.hlp-btn-gui7:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.tnc{
	background: #2c3e50;
	background: -webkit-linear-gradient(to
	left, #2c3e50 , #fd746c);
	background:  linear-gradient(to
	left, #2c3e50 , #fd746c);
	
}

 .loc-bs{
    width: 180px;
    height: 50px;
	text-decoration: none;
	font-size: 20px;
    border: none;
    outline: none;
    background: #111;
    cursor: pointer;
    position:  absolute;
	top: 1030px;
	left: 950px;
    z-index: 0;
    border-radius: 30px;
}

.loc-bs:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.loc-bs:active {
    color: #000
}

.loc-bs:active:after {
    background: transparent;
}

.loc-bs:hover:before {
    opacity: 1;
}

.loc-bs:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
 @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



 
 